.answers-list {
  .answer-item {
    margin-bottom:15px;
  }
}
.logo {
  a {
    padding: 10px 23px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    background-color: rgba(220,220,220,0.3);
  }
}

.login-block {
  margin-top:10px;
}
